<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SOAPEndPoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59518/SspaService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="SOAPEndPoint"
                contract="SspaServiceReference.ISoapService" name="SOAPEndPoint" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="FileToRead" value="REGISTRADOS.DAT" />
    <add key="FileVillans" value="SuperHeroes.dat" />
    <add key="FileSuperHeroe" value="Villains.dat" />
    <add key="RuleForVillains" value="D" />
  </appSettings>
</configuration>