<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>   
    <add key="FileToRead" value="REGISTRADOS.DAT" />
    <add key="FileVillans" value="SuperHeroes.dat" />
    <add key="FileSuperHeroe" value="Villains.dat" />
    <add key="RuleForVillains" value="D" />
  </appSettings>
</configuration>