<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="QuickTraderChatEndpoint" 
					  address="net.p2p://QuickReturnTraderChat" 
					  binding="netPeerTcpBinding" 
					  bindingConfiguration="BindingUnsecure" 
					  contract="ChatApp.IQuickReturnTraderChat"/>
		</client>
		<services>
			<service name="ChatApp.ChatForm">
				<endpoint name="QuickTraderChat" 
						  address="" 
						  binding="netPeerTcpBinding" 
						  bindingConfiguration="BindingUnsecure" 
						  contract="ChatApp.IQuickReturnTraderChat"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.p2p://QuickReturnTraderChat"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<netPeerTcpBinding>
				<binding name="BindingUnsecure">
					<security mode="None"/>
					<resolver mode="Pnrp"/>
				</binding>
			</netPeerTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>