<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="FileToRead" value="REGISTRADOS.DAT" />
    <add key="FileVillans" value="SuperHeroes.dat" />
    <add key="FileSuperHeroe" value="Villains.dat" />
    <add key="RuleForVillains" value="D" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="servicebehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restbehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->    
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
    <services>
      <service name ="NewshoreWebService.SspaService"
               behaviorConfiguration ="servicebehavior" >
        <endpoint name="SOAPEndPoint"
                  contract="NewshoreWebService.ISoapService"
                  binding="basicHttpBinding"
                  address="soap" />

        <endpoint name ="RESTEndPoint"
                  contract="NewshoreWebService.IRestService"
                  binding="webHttpBinding"
                  address="rest"
                  behaviorConfiguration ="restbehavior"/>

        <endpoint contract="IMetadataExchange"
        binding="mexHttpBinding"
        address="mex" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
 
</configuration>
